In [2]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [3]:
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [57]:
data['Age'].isnull().sum()
avg=data['Age'].mean().astype(int)

data['Age']=data['Age'].replace(np.NaN,avg)
data['Age']=data['Age'].astype(int)

In [58]:
data['Cabin']=data['Cabin'].fillna('A')

In [59]:
data.dropna(inplace=True)
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    int32
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int32(1), int64(5), object(5)
memory usage: 86.8+ KB

In [61]:
train_x=data[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']].values
train_y=data['Survived'].values

In [62]:
from sklearn import preprocessing

sex=data['Sex'].unique()
le_sex=preprocessing.LabelEncoder()
le_sex.fit(sex)

train_x[:,2]=le_sex.transform(train_x[:,2])

In [65]:
cabin=data['Cabin'].unique()
le_cabin=preprocessing.LabelEncoder()
le_cabin.fit(cabin)

train_x[:,7]=le_cabin.transform(train_x[:,7])

le_embarked=preprocessing.LabelEncoder()
embarked=data['Embarked'].unique()
le_embarked.fit(embarked)
train_x[:,8]=le_embarked.transform(train_x[:,8])

In [84]:
mod = DecisionTreeClassifier(criterion='entropy')

In [85]:
mod.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [86]:
datatest=pd.read_csv('test.csv')

datatest.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [87]:
avgt=datatest['Age'].mean().astype(int)
datatest['Age']=datatest['Age'].fillna(avgt)
datatest['Age']=datatest['Age'].astype(int)
datatest['Cabin']=datatest['Cabin'].fillna('A')

In [88]:
datatest.dropna(inplace=True)

In [89]:
test_x=data[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']].values
test_y=data['Survived'].values

In [90]:
from sklearn import preprocessing

sex=data['Sex'].unique()
le_sex=preprocessing.LabelEncoder()
le_sex.fit(sex)

test_x[:,2]=le_sex.transform(test_x[:,2])
cabin=data['Cabin'].unique()
le_cabin=preprocessing.LabelEncoder()
le_cabin.fit(cabin)

test_x[:,7]=le_cabin.transform(test_x[:,7])

le_embarked=preprocessing.LabelEncoder()
embarked=data['Embarked'].unique()
le_embarked.fit(embarked)
test_x[:,8]=le_embarked.transform(test_x[:,8])

In [91]:
y_pred = mod.predict(test_x)

In [92]:
print("Training score ",mod.score(train_x,train_y))
print("Testing score ",mod.score(test_x,test_y))

Training score  1.0
Testing score  1.0

In [93]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(test_y, y_pred))

DecisionTrees's Accuracy:  1.0